<% provide(:title, "Home") %>
<div class="bodycenter">
  <h1>Instagram</h1>
</div>
<div class="body-p">
  <p>Instagramのような写真投稿サイトです</p>
  <p>まだ登録していない人は登録しよう！</p>
  <%= link_to "sign up now!", '#', class: "btn btn-lg btn-primary"%>
</div>
